.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--whiteSpace-general-1x) var(--whiteSpace-general-2x);
	gap: var(--whiteSpace-general-2x);
}

.rowsPerPageLabel {
	margin-right: var(--whiteSpace-general-1x);
}

.rowsPerPageButton {
	display: flex;
	align-items: center;
}

.pagesNavigation {
	display: flex;
	align-items: center;
	gap: var(--whiteSpace-general-1x);
}

.pages {
	margin-right: var(--whiteSpace-general-1x);
}

.buttons {
	display: flex;
	align-items: center;
	gap: var(--whiteSpace-general-0_5x);
}
