:root[data-theme="dark"] {
	--background-subtle-background-color: var(--palette-base-1000);
	--divider-subtle-background-color: var(--palette-base-800);
	--divider-strong-background-color: var(--palette-base-600);
	--background-strong-background-color: var(--palette-base-1000);
	--button-primary-enabled-background-color: var(--palette-primary-300);
	--button-primary-enabled-font-color: var(--palette-base-10-white);
	--button-primary-hover-background-color: var(--palette-primary-400);
	--button-primary-hover-font-color: var(--palette-base-10-white);
	--button-primary-active-background-color: var(--palette-primary-500);
	--button-primary-active-font-color: var(--palette-base-10-white);
	--button-primary-disabled-background-color: var(--palette-base-600);
	--button-primary-disabled-font-color: var(--palette-base-400);
	--button-secondary-enabled-background-color: var(--palette-secondary-600);
	--button-secondary-hover-background-color: var(--palette-secondary-700);
	--button-secondary-enabled-font-color: var(--palette-base-130-black);
	--button-secondary-hover-font-color: var(--palette-base-130-black);
	--button-secondary-active-background-color: var(--palette-secondary-800);
	--button-secondary-active-font-color: var(--palette-base-130-black);
	--button-secondary-disabled-background-color: var(--palette-base-600);
	--button-secondary-disabled-font-color: var(--palette-base-400);
	--button-outlined-enabled-background-color: rgba(255, 255, 255, 0);
	--button-outlined-enabled-border-color: var(--palette-base-400);
	--button-outlined-enabled-font-color: var(--palette-base-400);
	--button-outlined-hover-background-color: rgba(255, 255, 255, 0);
	--button-outlined-hover-border-color: var(--palette-base-600);
	--button-outlined-hover-font-color: var(--palette-base-600);
	--button-outlined-active-background-color: rgba(255, 255, 255, 0);
	--button-outlined-active-border-color: var(--palette-base-400);
	--button-outlined-active-font-color: var(--palette-base-400);
	--button-outlined-disabled-background-color: rgba(255, 255, 255, 0);
	--button-outlined-disabled-border-color: var(--palette-base-600);
	--button-outlined-disabled-font-color: var(--palette-base-400);
	--button-transparent-enabled-font-color: var(--palette-base-10-white);
	--button-transparent-hover-font-color: var(--palette-base-10-white);
	--button-transparent-active-font-color: var(--palette-base-10-white);
	--button-transparent-disabled-font-color: var(--palette-base-400);
	--input-field-enabled-label-font-color: var(--palette-base-130-black);
	--input-field-enabled-assistive-font-color: var(--palette-base-130-black);
	--input-field-enabled-font-color: var(--palette-base-700);
	--input-field-hover-font-color: var(--palette-base-700);
	--input-field-active-font-color: var(--palette-base-700);
	--input-field-focus-font-color: var(--palette-base-130-black);
	--input-field-valid-font-color: var(--palette-base-130-black);
	--input-field-invalid-font-color: var(--palette-semantic-error-600);
	--input-field-disabled-font-color: var(--palette-base-600);
	--input-field-enabled-border-color: var(--palette-base-500);
	--input-field-enabled-background-color: rgba(255, 255, 255, 0);
	--input-field-hover-border-color: var(--palette-base-500);
	--input-field-hover-background-color: rgba(
		255,
		255,
		255,
		0.05000000074505806
	);
	--input-field-active-border-color: var(--palette-base-700);
	--input-field-active-background-color: rgba(255, 255, 255, 0);
	--input-field-focus-border-color: var(--palette-active-500);
	--input-field-focus-background-color: rgba(255, 255, 255, 0);
	--input-field-valid-border-color: var(--palette-semantic-success-700);
	--input-field-valid-background-color: rgba(255, 255, 255, 0);
	--input-field-invalid-border-color: var(--palette-semantic-error-600);
	--input-field-invalid-background-color: rgba(255, 255, 255, 0);
	--input-field-disabled-border-color: var(--palette-base-600);
	--input-field-disabled-background-color: rgba(
		0.33216095762327313,
		0.33216095762327313,
		0.33216095762327313,
		0.10000000149011612
	);
	--typography-h1-font-color: var(--palette-base-10-white);
	--typography-h2-font-color: var(--palette-base-10-white);
	--typography-h3-font-color: var(--palette-base-10-white);
	--typography-h4-font-color: var(--palette-base-10-white);
	--typography-h5-font-color: var(--palette-base-10-white);
	--typography-h6-font-color: var(--palette-base-10-white);
	--typography-title-font-color: var(--palette-base-10-white);
	--typography-subtitle-font-color: var(--palette-base-10-white);
	--typography-body-font-color: var(--palette-base-10-white);
	--typography-caption-font-color: var(--palette-base-10-white);
	--typography-link-enabled-font-color: var(--palette-active-300);
	--typography-link-hover-font-color: var(--palette-active-500);
	--typography-link-active-font-color: var(--palette-active-600);
	--typography-link-visited-font-color: var(--palette-active-600);
	--input-checkbox-assistive-default: var(--typography-body-font-color);
	--input-checkbox-assistive-invalid: var(--palette-semantic-error-500);
	--input-checkbox-unchecked-background-enabled: rgba(255, 255, 255, 0);
	--input-checkbox-unchecked-background-hover: rgba(255, 255, 255, 0);
	--input-checkbox-unchecked-background-active: rgba(255, 255, 255, 0);
	--input-checkbox-unchecked-background-invalid: rgba(255, 255, 255, 0);
	--input-checkbox-unchecked-background-disabled: var(--palette-base-900);
	--input-checkbox-unchecked-label-default: var(--typography-body-font-color);
	--input-checkbox-unchecked-outline-enabled: var(--palette-base-600);
	--input-checkbox-unchecked-outline-hover: var(--palette-base-500);
	--input-checkbox-unchecked-outline-active: var(--palette-active-400);
	--input-checkbox-unchecked-outline-invalid: var(--palette-semantic-error-500);
	--input-checkbox-unchecked-outline-disabled: var(--palette-base-700);
	--input-checkbox-checked-background-enabled: var(--palette-active-400);
	--input-checkbox-checked-background-hover: var(--palette-active-500);
	--input-checkbox-checked-background-active: var(--palette-active-500);
	--input-checkbox-checked-background-invalid: rgba(255, 255, 255, 0);
	--input-checkbox-checked-background-disabled: var(--palette-base-600);
	--input-checkbox-checked-icon-enabled: var(--palette-base-10-white);
	--input-checkbox-checked-icon-hover: var(--palette-base-10-white);
	--input-checkbox-checked-icon-active: var(--palette-base-10-white);
	--input-checkbox-checked-icon-invalid: var(--palette-semantic-error-500);
	--input-checkbox-checked-icon-disabled: var(--palette-base-10-white);
	--input-checkbox-checked-label-default: var(--typography-body-font-color);
	--input-checkbox-checked-outline-enabled: var(--palette-active-800);
	--input-checkbox-checked-outline-hover: var(--palette-active-800);
	--input-checkbox-checked-outline-active: var(--palette-active-800);
	--input-checkbox-checked-outline-invalid: var(--palette-semantic-error-500);
	--input-checkbox-checked-outline-disabled: var(--palette-base-600);
	--input-checkbox-indeterminate-background-enabled: var(--palette-active-400);
	--input-checkbox-indeterminate-background-hover: var(--palette-active-500);
	--input-checkbox-indeterminate-background-active: var(--palette-active-500);
	--input-checkbox-indeterminate-background-invalid: rgba(255, 255, 255, 0);
	--input-checkbox-indeterminate-background-disabled: var(--palette-base-60);
	--input-checkbox-indeterminate-icon-enabled: var(--palette-base-10-white);
	--input-checkbox-indeterminate-icon-hover: var(--palette-base-10-white);
	--input-checkbox-indeterminate-icon-active: var(--palette-base-10-white);
	--input-checkbox-indeterminate-icon-invalid: var(
		--palette-semantic-error-500
	);
	--input-checkbox-indeterminate-icon-disabled: var(--palette-base-10-white);
	--input-checkbox-indeterminate-label-default: var(
		--typography-body-font-color
	);
	--input-checkbox-indeterminate-outline-enabled: var(--palette-active-600);
	--input-checkbox-indeterminate-outline-hover: var(--palette-active-700);
	--input-checkbox-indeterminate-outline-active: var(--palette-active-700);
	--input-checkbox-indeterminate-outline-invalid: var(
		--palette-semantic-error-50
	);
	--input-checkbox-indeterminate-outline-disabled: var(--palette-base-600);
	--input-radio-assistive-default: var(--typography-body-font-color);
	--input-radio-assistive-invalid: var(--palette-semantic-error-500);
	--input-radio-unchecked-background-enabled: rgba(255, 255, 255, 0);
	--input-radio-unchecked-background-hover: rgba(255, 255, 255, 0);
	--input-radio-unchecked-background-active: rgba(255, 255, 255, 0);
	--input-radio-unchecked-background-invalid: rgba(255, 255, 255, 0);
	--input-radio-unchecked-background-disabled: var(--palette-base-900);
	--input-radio-unchecked-label-default: var(--typography-body-font-color);
	--input-radio-unchecked-outline-enabled: var(--palette-base-600);
	--input-radio-unchecked-outline-hover: var(--palette-base-500);
	--input-radio-unchecked-outline-active: var(--palette-active-400);
	--input-radio-unchecked-outline-invalid: var(--palette-semantic-error-500);
	--input-radio-unchecked-outline-disabled: var(--palette-base-700);
	--input-radio-checked-background-enabled: var(--palette-active-400);
	--input-radio-checked-background-hover: var(--palette-active-500);
	--input-radio-checked-background-active: var(--palette-active-500);
	--input-radio-checked-background-disabled: var(--palette-base-600);
	--input-radio-checked-icon-enabled: var(--palette-base-10-white);
	--input-radio-checked-icon-hover: var(--palette-base-10-white);
	--input-radio-checked-icon-active: var(--palette-base-10-white);
	--input-radio-checked-icon-disabled: var(--palette-base-10-white);
	--input-radio-checked-label-default: var(--typography-body-font-color);
	--input-radio-checked-outline-enabled: var(--palette-active-800);
	--input-radio-checked-outline-hover: var(--palette-active-800);
	--input-radio-checked-outline-active: var(--palette-active-800);
	--input-radio-checked-outline-disabled: var(--palette-base-600);
	--input-field-active-label-font-color: var(--palette-base-130-black);
	--input-field-active-assistive-font-color: var(--palette-base-130-black);
	--input-field-hover-label-font-color: var(--palette-base-130-black);
	--input-field-hover-assistive-font-color: var(--palette-base-130-black);
	--input-field-focus-label-font-color: var(--palette-base-130-black);
	--input-field-focus-assistive-font-color: var(--palette-base-130-black);
	--input-field-valid-label-font-color: var(--palette-base-130-black);
	--input-field-valid-assistive-font-color: var(--palette-base-130-black);
	--input-field-disabled-label-font-color: var(--palette-base-130-black);
	--input-field-disabled-assistive-font-color: var(--palette-base-130-black);
	--input-field-invalid-label-font-color: var(--palette-base-130-black);
	--input-field-invalid-assistive-font-color: var(--palette-semantic-error-600);
}
